div(class="shadow-md p-4 bg-white rounded-md text-center mx-auto flex flex-col items-center hover:scale-90 transition duration-500 ease-in-out")
                        div
                            img(src="/img/integrante1.avif" alt="Miembro del equipo" class="w-10 h-80 object-fill")
                        div
                            h3(class="text-xl font-bold mt-2") Nombre del Miembro
                            p Rol del Miembro
                            p Breve descripción del miembro del equipo...