extends ../layout/index

block content
    div.py-10
        a(href="/")
            h1(class="hover:cursor-pointer").text-4xl.my-10.font-extrabold.text-center Bienes
                span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold #{pagina}

        p.text-xl.font-bold.text-center.my-10 #{mensaje}

        if pagina == "Cuenta creada correctamente" || pagina == "Correo enviado"
            div(class= 'bg-yellow-100 border-yellow-500 text-yellow-700 rounded-3xl max-w-44 ').py-2.text-sm.my-3.mx-auto.text-center
                a(href="/" class="text-center font-bold hover:underline")
                    p &#11013; Regresa al inicio