doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raices | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        block styles
    body(class="flex min-h-screen flex-col")
        if authenticated
            include includes/header-admin
        else 
            include includes/header-app

        main(class="flex-1")
            block content

        include ./../footer

    script(src="https://kit.fontawesome.com/8fe8329aac.js" crossorigin="anonymous")
    block scripts